@charset "utf-8";

/* BlogPost */
.blog-post {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (min-width: 768px) {
  .blog-post {
    flex-direction: row;
    gap: 40px;
  }
}

/* Post */
.post {
  width: 100%;
  max-width: 680px;
}
.post__article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.post__img {
  width: 100%;
  border-radius: 30px;
}
.post__meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.post__date {
  font-size: 0.75rem;
}
.post__title {
  margin-top: 10px;
  font-size: 1.75rem;
  font-weight: bold;
}
.post__text {
  font-size: 1rem;
  line-height: 1.8;
}
.post__text--large {
  margin-top: 10px;
}
.post__iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
.post__heading {
  font-size: 1rem;
}
.post__list-item {
  font-size: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
}

/* Sidebar */
.sidebar {
  width: 100%;
  max-width: 280px;
}
.sidebar__section + .sidebar__section {
  margin-top: 50px;
}
.sidebar__title {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray);
  font-size: 1.125rem;
  font-weight: bold;
}
.sidebar__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.sidebar__recent-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.sidebar__recent-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__recent-img-wrapper {
  flex-shrink: 0;
  max-width: 80px;
}
.sidebar__recent-text {
  font-size: 0.75rem;
}

.blog__link {
  margin: 50px auto 0;
}
@media screen and (min-width: 768px) {
  .blog__link {
    margin: 30px auto 0;
  }
}
